.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.profile {
}
.online {
  border: 2px solid lightgreen;
  padding: 3px;
}
.sleeping {
  border: 2px solid rgb(242, 255, 130);
  padding: 3px;
}
.ofline {
  border: 2px solid rgb(247, 154, 255);
  padding: 3px;
}
