.field {
  display: grid;
  grid-template-columns: 70px 1fr 50px;
  padding: 20px 20px;
  border-bottom: 0.1px solid rgb(133, 133, 133);
}
.field:hover {
  background-color: #2c2c2c;
}

.time {
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
//  grid-template-columns: 75px 350px 1fr 350px;
// background-color: #242424;
